body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 3%;
    background-color: black;
    color: white;
    font-family: serif;
    font-size: 1.5em;
}

#welcome {
    width: fit-content;
    text-align: center;
}

.dv {
    border: 5px solid white;
    border-radius: 5px;
    height: fit-content;
    padding-inline: 20px;
}

.ts:hover {
    color: rgb(55, 124, 200);
}

.lang {
    transition: color .3s;
}

#js:hover {
    color: rgb(240, 220, 85);
}

.cs:hover {
    color: rgb(131, 104, 224);
}

.python:hover #py1 {
    color: rgb(60, 118, 167);
}
.python:hover #py2 {
    color: rgb(255, 211, 71);
}

#cpp:hover {
    color: rgb(101, 155, 210);
}

.java:hover #java1 {
    color: rgb(248, 2, 9);
}

.java:hover #java2 {
    color: rgb(0, 110, 185);
}

#rs:hover {
    color: rgb(246, 75, 5);
}

.l {
    text-decoration: none;
    color: rgb(180, 180, 180);
}

#bottom-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    gap: 10px;
}

.timebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

#social {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: center;
    gap: 5px 10px;
    padding: 20px 20px;
}
.ico {
    display: inline;
    height: 1em;
}
.custom-links {
    width: fit-content;
}
.custom-links:hover {
    cursor: pointer;
}

@media(max-width: 800px) {
    #bottom-row {
        flex-direction: column;
        align-items: center;
    }

    body {
        size: 1em;
    }

    .dv {
        box-sizing: border-box;
    }
}